streamlit
langchain
chromadb
opentelemetry-api 
opentelemetry-sdk
pypdf 
pytest
langchain-community 
gpt4all
langchain-chroma
transformers
langchain-cli == 0.0.22
pysqlite3-binary
torch
torchvision
langchain-community
langchain-groq
protobuf==3.20.3
